{# CF Commentaires de index.html.twig du dossier entreprise #}

{% extends 'base.html.twig' %}

{% block title %}Détail de l'entreprise{% endblock %}

{% block body %}

    <h1>Détail de l'entreprise</h1>

    {# Pour récupérer la raison sociale à l'affichage (CF __toString() dans le fichier Entreprise.php) #}
    <h2>{{ entreprise }}</h2>
    <p>
        {# Adresse : {{ entreprise.adresse }} {{ entreprise.cp }} {{ entreprise.ville }} #}

        {# OU Faire appel à la fonction getAdresseComplete() crée dans le fichier Entreprise.php #}

        Adresse : {{ entreprise.adresseComplete }}<br>

        {# Faire appel à la fonction getDateCreationFr() crée dans le fichier Entreprise.php #}
        {# Date de creation : {{ entreprise.dateCreationFr }} #}

        {# OU mettre un filtre directement dans le fichier twig #}
        Date de création : {{ entreprise.dateCreation | date("d-m-Y")}}
    </p>

    <h3>Liste des salariés</h3>

    {# Créer une condition pour afficher un message quand il y a pas d'employés dans l'entreprise #}
    {% if entreprise.employes | length >0 %}
        {# Utiliser table (fonctionnalité Bootstrap) #}
        <table class="table">

            <thead>
                <tr>
                    <th>Employés</th>
                </tr>
            </thead>

            <tbody>
                {# On peut afficher la liste des employés grâce à la relation entre les deux entités #}
                {# Dans Entreprise.php on récupère la collection $employes #}
                {% for employe in entreprise.employes %}

                    {# Créer un lien interne pour afficher les infos de l'entreprise depuis le détail de l'employé #}
                    <tr>
                        <td><a href="{{path('show_employe', {'id':employe.id})}}">{{ employe }}</a></td>
                    </tr>

                {% endfor %}
            </tbody>

        </table>

    {% else %}

        <p>Aucun salarié dans l'entreprise</p>

    {% endif %}    

{% endblock %}
