{# Toutes les vues vont hériter "extends" du fichier ci-dessous (base.html.twig) #}

{% extends 'base.html.twig' %} 

{# Le bloc titre ci dessous correspond au fichier ci dessus #}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}

    <h1>Liste des Entreprises</h1>

    {# BDD L'élément de la collection #}
    {# Créer une boucle for #}
    {% for entrerpise in entreprises %}

        {# BDD nom de l'objet . pour accéder à un attribu précis #}
        {# BDD on utilise le nom de Entreprise.php dans Entity plutôt que celui de la BDD #}
        {# {{entrerpise.raisonSociale}}<br> #}

        {# Voici comment concaténer en twig pour afficher les autres informations #}
        {{ entrerpise.raisonSociale ~ ' (' ~ entreprise.cp ~ ' ' ~ entreprise.ville ~ ')'}}<br>

    {% endfor %}

    {# ///////////////////////////////////////////////////EXEMPLES POUR COMPRENDRE LE PRINCIPE///////////////////////////////////////////////////////////////////// #}
    
    {# Afficher la valeur de l'argument de EntrepriseController avec l'echo ci dessous 
    (Faire un echo de l'argument pour afficher la valeur de celui-ci dans une vue)#}
    
        {# {{ controller_name }}<br> #}

    {# VAR Fonctionne aussi pour les variables #}

        {# Bonjour {{ name }} !<br> #}

    {# TAB Pour afficher un tableau #}
    {# TAB Les boucles et le conditions doivent être entre {% %} #}

        {# {% for element in tableau %}
            {{ element }}<br>
        {% endfor %} #}

    {# /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}
    <style> 
        /* .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } */ 
    </style>

    {# <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/laragon/www/symfony/Projet/src/Controller/EntrerpiseController.php'|file_link(0) }}">src/Controller/EntrerpiseController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/laragon/www/symfony/Projet/templates/entrerpise/index.html.twig'|file_link(0) }}">templates/entrerpise/index.html.twig</a></code></li>
        </ul>
    </div> #}
    {# /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// #}
    
{% endblock %}

{# NOTES #}
{# Ci-dessus La commande à générer automatiquement du CSS dans la balise style mais il est préférable de privilégier la méthode habituel pour gérer le CSS 
commande a également généré une div mais il est préférable de personnaliser soi-même le contenu #}