{# CF Commentaires de index.html.twig du dossier entreprise #}

{% extends 'base.html.twig' %}

{% block title %}Détail de l'employé{% endblock %}

{% block body %}

    <h1>Détail de l'employé</h1>

    {# Pour récupérer la raison sociale à l'affichage (CF __toString() dans le fichier Entreprise.php) #}
    <h2>{{ employe }}</h2>
    <p>
        {# Utiliser le filtre | date("d-m-Y")  pour formater la date #}
        Date de naissance : {{employe.dateNaissance | date("d-m-Y")}}<br>

        {# Faire appel à la fonction getAge() pour afficher l'âge #}
        Age : {{employe.age()}} ans<br>

        {# Créer une condition en cas de ville non renseignée #}
        Ville : {% if employe.ville %} {{ employe.ville }}<br> {% else %} Ville non renseignée<br> {% endif %}

        Date d'embauche : {{employe.dateEmbauche | date("d-m-Y")}}<br>

        {# Créer un lien interne pour afficher les infos de l'entreprise depuis le détail de l'employé #}
        Entreprise : <a href="{{path('show_entreprise', {'id':employe.entreprise.id})}}">{{ employe.entreprise }}</a>
    </p>

{% endblock %}
